<!DOCTYPE html>
<html lang="ko">
<head>

    <link rel="stylesheet" type="text/css" href="static/css/board_style.css">

    <meta charset="utf-8">
    
    <title>cat_humor_school</title>

</head>
{% block script%}
{% endblock%}
<body>
    <header id = header>
        {% block header %}

        <header>
            <div>
                <a href="/user_login.html"><img src = "static/img/menu.png"  style="height:80px; float:left; margin: 0 0 0 2%"></a>
                
            </div>
            <div id = "header">
                <a href="/"><img src = "/static/img/title.png" height="80px"></a>
            </div>
        </header> 
        {% endblock %}
    </header>          
    <section>
        {% block post %}
        <div>
            <table id = "board_header">
                <th>제목</th>
                <th>작성일</th>
            </table>
        </div>

        <div id = "Post">
            <!-- 시작 -->
            <div><br></div> 
            <div><br></div> 
            <div> <div style="text-align:center;"><img src="http://thimg.todayhumor.co.kr/upfile/202006/1591877770db37675ba46e4973874697020f4bbe04__mn792537__w857__h1440__f94203__Ym202006.png" width=100% height=100% alt="2.jpg" class="chimg_photo tcx_image" style="border:none;" filesize="655793" id="img1"></div> 
            <!-- <div style="text-align:center;"><img src="http://thimg.todayhumor.co.kr/upfile/202006/1591287505b5a3a3fc17ff4b5d97f75ba0d8074fc1__mn125052__w810__h7742__f579447__Ym202006.jpg" width=100% height=100% alt="3.jpg" class="chimg_photo tcx_image" style="border:none;" filesize="579447" id="img2"></div> -->
            <br></div> <div><br></div>
            <!-- 끝 -->
        </div>
        {% endblock %}
    </section>
        {% block test %}
        {% endblock %}

    <div>
        {% block list %}
        <table id = "board_header">

            <!--헤더-->
            <tr id = board_header_title>  
                <th>게시글번호</th>
                <th>제목</th>
                <th>날짜</th>
            </tr>            
            <form>
                {% for post in posts %}
                    <!-- 타이틀을 클릭했을 때 전달되는 값이 post_no이고, /post가 열려야한다. -->
                    <!-- ... 링크에 form 형식으로 거는 방식이 있냐...? -->
                    <!-- a 태그의 href에 submit을 거는 방법은? -->
                    <!-- https://stackoverflow.com/questions/27539309/how-do-i-create-a-link-to-another-html-page/27540234 -->
                    <tr id = post>
                        <td>{{post['post_no']}}</td>
                        <td><a href="post.html?post_no={{post.post_no}}">{{post['post_title']}}</a></td>
                        <td>{{post['post_date']}}</td>
                    </tr>
                {% endfor %}
            </form>
        {% endblock %}
    </div>
        
        
    <div>
        <table id=footer>

        </table>
    </div>

    <div class = "search">
        <!-- 해당 부분의 로직은 어떻게 짜야 할까...? 일단, app.py에서 기본값으로 get 형식으로 page_no를 받아야지. -->
        {% block paging %}
        <div class="paging">
            <a href="/quick_move.html" onclick="window.open(this.href, '_blank', '/quick_move'); return false">퀵</a>
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#" class="active">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
        
        </div>
        {% endblock %}
    </div>
    </body>
</head>
</html>
