<!DOCTYPE html>
<html lang="ko">
<head>

    <link rel="stylesheet" type="text/css" href="static/css/board_style.css">

    <meta charset="utf-8">
    
    <title>cat_humor_school</title>

</head>

<body>


    <div>
        <table id = "post_comment_header">

            <!--헤더-->

            <!-- 내용 이력-->
            <tr id = "post_comment_content">

                <!-- 아이디 + 댓글내용-->
                <td style = "width : 65%; padding:3% 4%;">[아이디]
                    <br>상단에 아이디 다음 br 태그 사용후 댓글내용 입력</td>


                <!-- 날짜-->        
                <td style = "width : 15%;">2020/06/23</td>

                <!-- 추천 버튼 -->
                <td style = "width : 10%;">
                    <button class = "like_dislike_button"><img src="/static/img/caticon.png" style = "padding:10% 5% 0 10%; "></button><br>
                    <button class = "like_dislike_button"><img src="/static/img/dogicon.png" style = "padding:10% 20% 0 10%; "> </button>
                </td>


                <!-- 댓글 추천 수 -->
                <td sytle = "width : 10%; padding :5%;">
                    +5
                </td>
            </tr>


             <!-- 내용 이력-->
             <tr id = "post_comment_content">

                <!-- 아이디 + 댓글내용-->
                <td style = "width : 65%; padding:3% 4%;">[아이디]
                    <br>dsddㅁㄴㅇㄹㅇㅁㄴㄹㅇㄴㅁㄻㄴㅇㄹㄴㅇㅁㄹㅇㅁㄹㅇㄴㅁㄴㅇㄹㄴㅇㅁㄹa</td>

                <!-- 날짜-->        
                <td style = "width : 15%;">2020/06/23</td>

                <!-- 추천 버튼 -->
                <td style = "width : 10%;">
                    <button class = "like_dislike_button"><img src="/static/img/caticon.png" style = "padding:10% 5% 0 10%; "></button><br>
                    <button class = "like_dislike_button"><img src="/static/img/dogicon.png" style = "padding:10% 20% 0 10%; "> </button>
                </td>

                <!-- 댓글 추천 수 -->
                <td sytle = "width : 10%; padding :5%;">
                    +5
                </td>
            </tr>           

    </div>
</body>
</html>