<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">


    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

        .button1{
            font-family : "Nanum Gothic", sans-seif;
            font-weight:bold;
            width: 70px;
            height: 30px;
            text-align : center;
            padding : auto;
            margin : auto auto auto 30%;
        }

    </style>
    <title>바로가기</title>
</head>
    <body onresize="parent.resizeTo(230,200)" onload="parent.resizeTo(230,200)">
        
    <h3 style='margin:5px 5px 10px 5px'> Page <input type = "TEXT" name="page_number" size = 20></h3>

    <div>
        <button class = "button button1" onclick="#">Search</button>
    </div>

</body>
</html>