<!DOCTYPE html>
<html lang="ko">
<head>

    <link rel="stylesheet" type="text/css" href="static/css/board_style.css">

    <meta charset="utf-8">
    
    <title>cat_humor_school</title>

</head>

{% extends "layout.html" %}


<body>

    {% block post %}
    <div id = "login_page_background">

        <div id = "login_page_header">
            로그인
        </div>
        
        <div>
            <table id = "login_page_textbox">
                <tr>
                    <td>아이디</td>
                    <td><input type = "TEXT" name="user_id" style="width:200px; height:30px"></td>
                </tr>

                <tr>
                    <td>패스워드</td>
                    <td><input type = "password" name="user_pw" style="width:200px; height:30px"></td>
                </tr>
            </table>
        
        <div id = login_page_button>
            <button class = "login_page_button" onclick="location.href = 'user_join.html'">가입하기</button>
            <button class = "login_page_button" onclick="location.href = 'user_info.html'">로그인</button>
        </div>

        
        <div id = login_page_search>
            <a href = "/user_info_find.html" style = "font-size : 30px; font-weight : bold;">아이디/비밀번호 찾기</a>
        </div>

    </div>
<br>

    <!-- 자동 로그인의 토글버튼은 자바스크립트 부분인듯. 일단 보류-->
    <div>

    </div>
    {% endblock %}
    {% block list %}
    {% endblock %}
    {% block paging %}
    {% endblock %}
</body>
</html>