{% extends "layout.html" %}

<body>
    {% block post %}

    <div id = user_find_background>

        <div id = "user_find_ID">
            <input id = "user_find_ID_input" type = "TEXT" name="User_ID"  placeholder = "닉네임을 입력하세요"></h3>
            <button class = "user_find_ID_button" onclick="#">아이디 찾기</button>
        </div>

    <hr>

        <div id = "user_find_PW">
            <input id = "user_find_ID_input" type = "TEXT" name="User_PW" size = 20  placeholder = "이메일을 입력하세요"></h3>
            <button class = "user_find_PW_button" onclick="#">비밀번호 찾기</button>
        </div>
    
    </div>

    
    <div id = "user_find_ask">
        <a href = "../#" style = "font-size: 50x;">문의하기</a>
    </div>

    

    {% endblock %}
    {% block list %}
    {% endblock %}
    {% block paging %}
    {% endblock %}



</body>
</html>

