<!DOCTYPE html>
<html lang="ko">
<head>

    <link rel="stylesheet" type="text/css" href="static/css/board_style.css">

    <meta charset="utf-8">
    
    <title>cat_humor_school</title>

    {% extends "layout.html" %}
    {% block script%}
    <SCRIPT language="javaScript"> 
        var easter_count=0;

        function button_oneclick()
        {
            easter_count++;
            if(easter_count == 5)
            {
                alert("ver.0.1");
                window.location = "./img_test.html";
            }
        }      
    </SCRIPT>

</head>

{% endblock %}

<body>

    {% block post %}

    <div id = "info_page_background">

        <div>
            <button type="submit" onclick=button_oneclick() style="background-color:white"><img class="btn-img" src="static/img/user_info_icon.png"></button>
        </div>  
        

        <table id = "info_page_textbox">
            <tr>
                <td>아이디</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>현재 닉네임</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>현재 비밀번호</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>비밀번호 변경</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>비밀번호 변경확인</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>ID</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>
        </table>

    <!--
        <h3 style='margin:5px 5px 10px 5px'> 아이디(활성화x)  <input type = "TEXT" name="User_ID" size = 20></h3>
        <h3 style='margin:5px 5px 10px 5px'> 현재 닉네임 <input type = "TEXT" name="User_PW" size = 20></h3>
        <h3 style='margin:5px 5px 10px 5px'> 현재 비밀번호 <input type = "TEXT" name="User_PW" size = 20></h3>
        <h3 style='margin:5px 5px 10px 5px'> 바꿀 비밀번호 <input type = "TEXT" name="User_PW" size = 20></h3>
        <h3 style='margin:5px 5px 10px 5px'> 바꿀 비밀번호 확인 <input type = "TEXT" name="User_PW" size = 20></h3>
    -->

        <!-- <a href = "./user_info_find.html">아이디/비밀번호 찾기</a> -->

        <div id = "info_page_button">
            <button class = "info_page_button" onclick="location.href = '#'">댓글 이력</button>
            <button class = "info_page_button" onclick="location.href = 'user_login.html'">로그아웃</button>
        </div>
        {% endblock %}
        {% block list %}
        {% endblock %}
        {% block paging %}
        {% endblock %}

    </div>
</body>

</html>
