{% extends "layout.html" %}
{% block script%}
<SCRIPT language="javaScript"> 
    var easter_count=0;

    function button_oneclick()
    {
        easter_count++;
        if(easter_count == 5)
        {
            alert("ver.0.1");
            window.location = "./img_test.html";
        }
    }      
</SCRIPT>
{% endblock %}
<body>
    {% block post %}

    <div id = "info_page_background">

        <div id = "info_cat_image">
            <button type="submit" onclick=button_oneclick() style="background-color:white"><img class="btn-img" src="static/img/user_info_icon.png"></button>
        </div>  
        

        <table id = "info_page_textbox">
            <tr>
                <td>아이디</td>
                <td><input type = "TEXT" name="User_ID" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>현재 닉네임</td>
                <td><input type = "TEXT" name="User_Nickname" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>현재 비밀번호</td>
                <td><input type = "TEXT" name="User_PW" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>비밀번호 변경</td>
                <td><input type = "TEXT" name="User_PW_Change" style="width:200px; height:40px"></td>
            </tr>

            <tr>
                <td>비밀번호 변경<br>확인</td>
                <td><input type = "TEXT" name="User_CPW_Change" style="width:200px; height:40px"></td>
            </tr>

        </table>
        
        <div id = "info_page_button">
            <button class = "info_page_button" onclick="location.href = 'user_comment.html'">댓글 이력</button>
            <button class = "info_page_button" onclick="location.href = 'user_login.html'">로그아웃</button>
        </div>
        
        {% endblock %}
        {% block list %}
        {% endblock %}
        {% block paging %}
        {% endblock %}

</body>

</html>
