{% extends "layout.html" %}

<body>
    {% block post %}

    <div id = "join_page_background">

        <textarea id ="join_term" name = "clause" readonly>
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관약관
        </textarea>

        <div id = "join_agree">
            동의함<input type="checkbox" name="xxx" value="yyy" checked style='width:20px; height:20px;'>
        </div>

        <form method="POST">

            <!-- input에 required 를 사용하면 칸이 비어있을경우 표시를 해줌-->

            <div>            
                <table id = "join_page_textbox">
                    <tr>
                        <td id = join_page_table>
                            {{form.user_id.label("아이디")}}
                            <!-- 회원아이디<br>(이메일) -->
                        </td>
                        <td>
                            {{form.user_id(class="input",placeholder="아이디(이메일)")}}
                            <!-- <input type = "TEXT" name="user_id" size = 16 style="width:200px; height:40px">
                            <br><br>이메일이 중복되었습니다 -->
                        </td>
                        <td>
                            <!-- <button class = "join_page_button" type="submit">인증코드 보내기</button> -->
                        </td>

                    </tr>
                    
                    <!-- <tr>
                        <td>
                            이메일<br>인증 코드
                        <td>
                            <input type = "TEXT" name="" size = 16 style="width:200px; height:40px">
                            <br><br>인증코드가 일치하지 않습니다.
                        </td>
                        <td>
                            <button class = "join_page_button" type="submit">인증코드 확인</button>
                        </td>
                    </tr> -->

                    <tr>
                        <td>
                            {{form.user_nick.label("닉네임")}}
                            <!-- 닉네임 -->
                        </td>
                        <td>
                            {{form.user_nick(class="input",placeholder="닉네임")}}
                            <!-- <input type = "TEXT" name="user_nick" size = 16 style="width:200px; height:40px">
                            <br><br>닉네임이 중복되었습니다. -->
                        </td>
                    </tr>

                        <td>
                            {{form.user_pw.label("비밀번호")}}
                            <!-- 패스워드 -->
                        </td>
                        <td>
                            {{form.user_pw(class="input",placeholder="비밀번호")}}
                            <!-- <input type = "password" name="user_pw" size = 16 style="width:200px; height:40px">
                            <br><br>8자리 이상<br>영어와
                            숫자의 조합 -->
                        </td>
                    </tr>
                    
                        <td>
                            {{form.user_cpw.label("비밀번호 확인")}}
                            <!-- 패스워드<br>확인 -->
                            
                            
                        </td>
                        <td>
                            {{form.user_cpw(class="input",placeholder="비밀번호 확인")}}                          
                            {% for message in get_flashed_messages() %}
                            <p style="font-size:15px; color:red">{{ message }}</p>
                            {% endfor %}
                            

                            <!-- <input type = "password" name="user_cpw" size = 16 style="width:200px; height:40px">
                            <br><br>비밀번호가 일치하지 않습니다. -->
                        </td>

                    </tr>
                </table>
            </div>

            <div>
                <table id = "join_page_regist">
                    <tr>
                    <td><button class = "join_page_regist_button" type="button" onclick = "location.href ='index.html'">취소</button></td>

                    <td><button class = "join_page_regist_button" type="submit">가입하기</button></td>
                    </tr>
                </table>
            </div>
        </form>
    {% endblock %}
    {% block list %}
    {% endblock %}
    {% block paging %}
    {% endblock %}
</body>
</html>