{% extends "layout.html" %}

<body>
    {% block post %}
    <textarea name = "clause" rows="5" cols="30" readonly style="resize:none"> 약관</textarea>

    동의함<input type="checkbox" name="xxx" value="yyy" checked style='width:20px; height:20px;'>

    <h3 style='margin:5px 5px 10px 5px'> 회원아이디(이메일)  <input type = "TEXT" name="User_ID" size = 20></h3>
    <button class = "button" onclick="location.href = 'user_login.html'">인증코드 보내기</button>

    <h3 style='margin:5px 5px 10px 5px'> 이메일 인증 코드 <input type = "TEXT" name="User_PW" size = 20></h3>
    <button class = "button" onclick="location.href = 'user_login.html'">인증코드 확인</button>

    <h3 style='margin:5px 5px 10px 5px'> 닉네임  <input type = "TEXT" name="User_Nick" size = 20></h3>

    <h3 style='margin:5px 5px 10px 5px'> 패스워드 <input type = "TEXT" name="User_PW" size = 20></h3>

    <h3 style='margin:5px 5px 10px 5px'> 패스워드 확인  <input type = "TEXT" name="User_CPW" size = 20></h3>


    <div>
        <button class = "button" onclick="location.href = 'user_login.html'">취소</button>
        <button class = "button" onclick="location.href = 'user_login.html'">가입하기</button>
    </div>
    {% endblock %}
    {% block list %}
    {% endblock %}
    {% block paging %}
    {% endblock %}
</body>
</html>